@import "vars";
@import "resets";
@import "base";
@import "blocks/header";
@import "blocks/surf";
@import "blocks/travel";
@import "blocks/sleep";
@import "blocks/shop";
@import "blocks/footer";

/////////////////////Media///////////////////////////////////////////////////////
@media (max-width: 1440px) {
  .header {
    height: 100vh;
    &__title {
      font-size: 125px;
      line-height: 125px;
    }
    &__pagedown {
      left: 150px;
    }
    &__aside {
      width: 110px;
      height: 100vh;
    }
    &__logo {
      img {
        width: 110px;
      }
    }
    &__nav {
      margin: 25px auto 5px;
    }
    &-slider__info {
      height: 100vh;
    }
    &__list {
      &-link {
        margin-bottom: 15px;
      }
    }
    &__search {
      margin-bottom: 5px;
    }
    &__date {
      font-size: 50px;
      line-height: 48px;
    }
    &__place {
      font-size: 11px;
      margin-top: 5px;
      &::before {
        left: 16px;
      }
    }
  }
}
//////////////////////////////////////////////////////////
@media (max-width: 1366px) {
  .header {
    &__aside {
      display: flex;
      height: 125px;
      align-items: flex-start;
      border-right: none;
      background-color: rgba(#fff, 0.1);
      width: auto;
      padding-right: 25px;
    }
    &__nav {
      margin: 0;
    }
    &__list {
      width: auto;
      display: flex;
      align-items: flex-end;
      &-link {
        margin-bottom: 0;
        padding: 15px;
      }
    }
    &__search {
      height: 100%;
      padding: 35px 15px;
    }
    &__date {
      padding-top: 23px;
      span {
        margin: 3px auto 10px;
        min-width: 57px;
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__place {
      margin-top: 39px;
      padding-left: 34px;
    }
    &__map {
      svg {
        width: 500px;
        height: auto;
      }
    }
    &__pagedown {
      left: 50px;
    }
  }
  .slick-arrow.prev-btn,
  .slick-arrow.next-btn {
    top: 20px;
  }

  .slick-arrow.prev-btn {
    right: 64px;
  }
  .slick-arrow.next-btn {
    right: 20px;
  }
}
@media (max-width: 1300px) {
  .surf {
    &__slider {
      max-width: 1100px;
      min-height: 582px;
    }
  }
  .surf-slider {
    .slick-list {
      min-height: 582px;
    }
  }
  .surf-slider__item.slick-current {
    .surf-slider__box {
      transform: translateX(0);
    }
    .box-info::before {
      transform: translateX(-32px);
    }
  }
  .surf-slider__item--1 {
    top: 312px;
  }
  .surf-slider__item--2 {
    top: 256px;
    left: -7px;
    position: relative;
    &::after {
      top: -22px;
      right: 98px;
    }
  }
  .surf-slider__item--3 {
    top: 309px;
    left: 31px;
  }
  .surf-slider__item--4 {
    top: 444px;
    left: -33px;
  }

  .surf-slider__item--5 {
    top: 197px;
    left: -63px;
  }
  .surf-slider__item--6 {
    top: 487px;
    left: -97px;
  }
  .surf-slider__item--7 {
    top: 346px;
    left: -90px;
  }
  .surf-slider__item--8 {
    top: 469px;
    left: 22px;
  }
  .surf-slider__item--8.slick-current {
    .surf-slider__box {
      transform: translateX(0px);
    }
  }
  .image-slider {
    padding-top: 60px;
    &__item-wrapper {
      min-height: 625px;
    }
    .slick-arrow.prev-btn,
    .slick-arrow.next-btn {
      top: 20px;
    }
  }
}
/////////////////////////////////////////////////////////////
@media (max-width: 1250px) {
  .shop {
    padding: 0 0 100px;
  }
  .shop-slider {
    &__info {
      padding: 150px 0 0 20px;
    }
  }
}
/////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
  .surf {
    padding: 50px 0 50px;
  }
  .travel {
    padding: 0;
  }
  .travel-slider {
    padding-top: 10px;
    &__descr {
      padding: 30px 0 0 20px;
      min-height: 265px;
      bottom: 10px;
      background-position: right;
      background-size: contain;
      margin-top: -275px;
    }
  }
  .info {
    display: block;
    padding-left: 20px;
    &__item {
      position: static;
      height: 115px;
      margin-bottom: 20px;
    }
    &__subtitle {
      position: static;
      transform: rotate(0deg);
      text-align-last: left;
    }
  }
  .sleep-slider {
    &__descr {
      padding: 115px 0 0 20px;
      min-height: 350px;
      background-size: contain;
    }
  }
}
/////////////////////////////////////////////////////////////////////
@media (max-width: 1150px) {
  .shop {
    padding: 0 0 50px;
  }
  .shop-slider {
    &__info {
      padding: 50px 0 0 20px;
    }
    &__info-price {
      margin: -9px 0 35px 0;
    }
    &__inner {
      display: block;
    }
    &__content {
      padding: 25px 67px 0 20px;
    }
    &__surfboard {
      &-definition {
        top: 22px;
        left: 0px;
        font-size: 19px;
        width: 213px;
        &::before {
          display: none;
        }
      }
      &-box.surfboard-box--1 {
        .shop-slider__surfboard-definition {
          left: -155px;
        }
      }
      &-box.surfboard-box--2 {
        .shop-slider__surfboard-definition {
          left: 15px;
        }
      }
      &-box.surfboard-box--3 {
        .shop-slider__surfboard-definition {
          left: 0px;
          width: 183px;
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////////
@media (max-width: 1101px) {
  .surf {
    &__slider {
      background-image: none;
      min-height: 275px;
    }
  }
  .surf-slider .slick-list {
    min-height: 275px;
    overflow-x: hidden;
  }
  .surf-slider {
    margin-top: 35px;
    &__item {
      position: static;
      min-height: 275px;
      width: 285px;
      margin-right: 15px;
      &.slick-current {
        .surf-slider__box {
          background: rgba(#eee, 0.7);
        }
      }
    }
    &__dot {
      display: none;
    }
    &__box {
      display: block;
      height: 225px;
    }
  }

  .box-info {
    transform: translateX(0);
    &::before {
      display: none;
    }
  }
  .surf-slider {
    .slick-track {
      min-height: 275px;
      //transform: translate3d(-1%, 0px, 0px) !important;
    }
  }
}
///////////////////////////////////////////////////////
@media (max-width: 1050px) {
  .header {
    &__nav {
      position: absolute;
      background-color: rgba(#000, 0.9);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 15;
      transform: translateX(-100%);
      transition: all 0.5s;
      &.active {
        transform: translateX(0);
      }
    }
    &__pagedown {
      display: none;
    }
    &__menu {
      display: block;
    }
    &-slider__item {
      right: 20px;
      bottom: 27px;
      &-subtitle {
        font-size: 20px;
        line-height: 24px;
        padding-left: 82px;
        &::before {
          top: 9px;
          width: 60px;
        }
      }
      &-title {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 25px;
      }
      &-subtext {
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 3px;
        padding-left: 82px;
        &::before {
          top: 9px;
          width: 60px;
        }
      }
      &-text {
        font-size: 35px;
      }
    }
  }
  .slider-dots {
    bottom: 6px;
    right: 0;
    left: 10px;
    margin: 0 auto;
    width: 920px;
    &__item {
      width: 130px;
      margin-right: 25px;
    }
    .dots-content {
      width: 130px;
      &__number {
        font-size: 18px;
        line-height: 28px;
      }
      &__title {
        line-height: 16px;
      }
    }
  }
  .surf {
    &__subtitle {
      padding-right: 20px;
    }
  }
  .travel {
    &__subtitle {
      padding-right: 20px;
    }
  }
  .travel-slider {
    &__img {
      min-height: 600px;
    }
  }
  .sleep {
    .slick-arrow {
      top: 0;
    }
    &__subtitle {
      padding-right: 20px;
    }
  }
  .sleep-slider {
    padding-top: 20px;
    &__img {
      min-height: 600px;
    }
  }
}
///////////////////////////////////////////////////////////////////
@media (max-width: 850px) {
  .slider-dots {
    display: none;
  }
  .sleep-slider {
    &__descr {
      min-height: 300px;
    }
    &__descr-title {
      padding-right: 170px;
    }
    &__descr-list {
      li {
        margin-left: -36px;
      }
    }
  }
  .shop-slider {
    &__extras {
      padding-left: 65px;
    }
  }
}
////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
  .sleep-slider {
    &__descr {
      background-image: none !important;
    }
  }
}

////////////////////////////////////////////////////////////////////
@media (max-width: 675px) {
  .surf-slider {
    .slick-list {
      padding: 0 15px !important;
    }
  }
  .shop-slider {
    &__content {
      flex-direction: column;
      padding: 25px 20px 0 20px;
    }
    &__surfboard {
      .surfboard-box--1 {
        left: 193px;
        right: 0px;
        .shop-slider__surfboard-definition {
          left: -181px;
        }
      }
    }
    &__extras {
      width: 100%;
      padding-top: 25px;
      padding-left: 0;
    }
    &__extras-title {
      text-align: center;
    }
    &__extras-box {
      justify-content: space-around;
    }
  }
  .footer {
    padding: 50px 0 35px;
  }
}
//////////////////////////////////////////////////////////////////
@media (max-width: 540px) {
  .header {
    &__aside {
      display: block;
      width: 111px;
      height: 100vh;
      padding-right: 0;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__search {
      padding: 15px 0;
      height: unset;
    }
  }
  .travel-slider {
    &__descr {
      background-image: none !important;
      min-height: 140px;
      padding: 0 0 0 20px;
    }
    &__descr-title {
      img {
        display: none;
      }
    }
  }
}
//////////////////////////////////////////////////////////////////
@media (max-width: 450px) {
  .header {
    &__logo {
      img {
        width: 95px;
      }
    }
    &__aside {
      width: 95px;
    }
    &__map {
      svg {
        width: 345px;
      }
    }

    &__search {
      margin-bottom: 0;
    }
    &__date {
      font-size: 40px;
      line-height: 42px;
      padding-top: 10px;
      span {
        font-size: 12px;
        line-height: 12px;
      }
    }
    &__place {
      margin-top: 22px;
      padding-left: 19px;
      font-size: 10px;
      &::before {
        left: 10px;
      }
    }
    &-slider__item {
      &-subtitle {
        font-size: 16px;
        line-height: 22px;
      }
      &-title {
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 22px;
      }
      &-subtext {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
  .surf {
    padding: 50px 0 50px;
  }
  .surf-slider {
    &__box {
      width: 245px;
      height: 200px;
      padding: 10px;
      top: 0;
    }
    .slick-list {
      min-height: 0;
      max-height: 225px;
      overflow-y: hidden;
    }
  }
  .image-slider {
    padding-top: 30px;
    &__text {
      letter-spacing: 5px;
    }
    .slick-arrow.prev-btn,
    .slick-arrow.next-btn {
      top: 0;
    }
  }
  .travel__subtitle .subtitle-right::before {
    right: 85px;
  }
  .travel-slider__descr-subtitle::before {
    left: 95px;
  }
  .travel-slider {
    &__btn {
      padding-top: 20px;
    }
  }
  .info {
    &__subtitle {
      font-size: 16px;
      line-height: 19px;
    }
    &__title {
      font-size: 35px;
    }
  }
  .sleep-slider {
    &__img {
      min-height: 550px;
    }
    &__descr {
      min-height: 250px;
    }
    &__descr-subtitle {
      &::before {
        left: 90px;
      }
    }
    &__descr-list {
      display: none;
    }
    &__btn {
      padding-top: 20px;
    }
  }
  .sleep__subtitle .subtitle-right::before {
    right: 105px;
  }
  .shop-slider {
    &__info {
      padding: 50px 10px 0 10px;
    }
    &__info-subtitle {
      &::before {
        left: 70px;
      }
    }
    &__info-title {
      font-size: 35px;
    }
    &__extras-box {
      min-width: 0;
      max-height: 340px;
      justify-content: space-between;
    }
    &__extras-itemtitle {
      font-size: 16px;
      letter-spacing: 5px;
    }
  }
}
