.travel {
  padding: 130px 0 265px;
  background-image: url("./images/travel/cocktail.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  .slick-arrow {
    top: 305px;
    opacity: 0.25;
  }
  // .travel__subtitle

  &__subtitle {
    padding-right: 80px;
    position: absolute;
    top: 172px;
    right: 0;
    .subtitle-right {
      &::before {
        right: 118px;
      }
    }
  }
}

.travel-slider {
  padding-top: 80px;
  // .travel-slider__top

  &__top {
    position: relative;
  }

  // .travel-slider__img

  &__img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    max-width: 1115px;
    width: 100%;
    min-height: 780px;
  }

  // .travel-slider__descr

  &__descr {
    position: relative;
    padding: 160px 0 0 135px;
    bottom: 112px;
    background-repeat: no-repeat;
    min-height: 320px;
    background-position: right center;
    margin-top: -160px;
  }
  &__info {
    .info__trip-span {
      right: 5px;
    }
  }
  // .travel-slider__descr-subtitle

  &__descr-subtitle {
    &::before {
      left: 152px;
    }
  }
  &__descr-title {
    width: 330px;
    white-space: nowrap;
    position: relative;
    img {
      padding-left: 26px;
      position: absolute;
      top: -8px;
      right: -70px;
    }
  }

  // .travel-slider__btn

  &__btn {
    padding-top: 66px;
    text-align: center;
  }
}
